.email-line-container {
  position: fixed;
  left: 0;
  width: 90%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
}

.email-line {
  height: 150px;
  width: 1px;
  background: #cbcbcb;
  margin-bottom: 10px;
}

.email-line-container p {
  writing-mode: vertical-rl;
  color: #cbcbcb;
  font-size: 14px;
  position: absolute;
  top: 170px;
  left: -8px;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .email-line-container {
    display: none;
  }
}
